<h1>Site</h1>
<p>Find me in app/views/site/index.html.erb</p>
<i class="fa-solid fa-house"></i>
<i class="fa-solid fa-user-secret"></i>
<i class="fa-regular fa-bell"></i>
<%= icon('fa-brands', 'font-awesome')%>
<%= icon('fa-solid', 'user-secret')%>
<%= icon('fa-regular', 'bell')%>