.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.site-footer {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #5e717d;
}

.site-footer-social {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.site-footer-legal {
    font-size: 1.2rem;
    line-height: 2.4rem;
}
